@tailwind base;
@tailwind components;
@tailwind utilities;


.home-page-linear {
  background: linear-gradient(90deg, #FBE45C 18.03%, #41C4E3 82.86%);
  -webkit-background-clip: text;
  background-size: 200% 200%;
  color: transparent;
  animation: gradientAnimation 5s ease infinite;
  ;
}

.top-to-bottom-linear {
  background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(253, 253, 253, 1) 100%);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 100%;
  }
}


@keyframes App-logo-spin {
  from {
    background: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}